<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if user.is_authenticated %} log in as {{user.username}}
    <form action="{% url 'logout_user' %}" method="POST">
      {%csrf_token%}
      <br />
      <button type="submit">Logout</button>
    </form>

    {% else %}

    <a href="##">Login</a>
    <br /><br />
    <a href="{% url 'signup'%}">Signup</a>
    {% endif %}
  </body>
</html>
